body{
	width:100%;
}
@font-face {
font-family: 'Poetsen One Regular';
font-style: normal;
font-weight: normal;
src: local('Poetsen One Regular'), url('PoetsenOne-Regular.woff') format('woff');
}

h1,h2 {
  font-family: 'Poetsen One Regular';
  font-weight: 400;
  color: #235278;
}

p,a {
	font-family: 'Poetsen One Regular';
	font-weight: 200;
	color:#235278;
	display:block;
}
button:hover {
	background-color:blue;
	cursor: pointer;
}
