.card-bg{
	background-image: radial-gradient(circle, white, #9ee0ca);
}

.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 2s;
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

.hide{
	display:none;
}

.unhide{
	display:block;
}

.carousel.carousel-slider{
	margin-left: auto;
	margin-right: auto;
	max-width: 25%
}


@media screen and (min-width: 200px) {
  .carousel.carousel-slider{
		max-width:100%;
	}
	ul{
		padding-inline-start: 0px;
	}
	#chosen{
		max-width: 90%;
	}
}
@media screen and (min-width: 400px) {
  .carousel.carousel-slider{
		max-width:100%;
	}
	ul{
		padding-inline-start: 0px;
	}
	#chosen{
		max-width: 90%;
	}
}
@media screen and (min-width: 600px) {
  .carousel.carousel-slider{
		max-width:25%;
	}
	#chosen{
		max-width: 70%;
	}
}